.sectionLogin {
    display: flex;
    flex-direction: column;
    width: 15rem;
    background-color: white;
    border-radius: 10px;
    padding: 0rem 2rem 1rem 2rem;
    box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.75);
}

.sectionLogin h2 {
    text-align: center;
}

.sectionLoginForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.loginFormField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.loginFormField label {
    text-align: start;
    font-size: .9rem;
}

.loginFormField input {
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    background-color: #f3f3f3;
    color: black;
}

.loginFormCheck {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    height: 1vh;
}

.loginFormCheck label {
    font-size: .8rem;
}

.loginFormLoginButton {
    align-self: center;
    background-color: #FFDE32;
    border-radius: .5rem;
    border: none;
    padding: .7rem;
    font-size: 1rem;
    font-weight: bold;
    width: 80%;
    margin-top: 1rem;
    transition: 200ms;
}

.loginFormLoginButton a {
    text-decoration: none;
    color: black;
}

.loginFormLoginButton:hover {
    transform: scale(1.05);
}

.sectionLoginGoRegister {
    margin-top: 1rem;
    align-self: center;
}

.sectionLoginGoRegister a {
    text-decoration: none;
    font-size: .8rem;
    color: #777;
}

.sectionLoginGoRegister a:hover {
    color: #111;
}